@charset "UTF-8";

/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent;}
ol, ul, li{list-style:none;margin:0;padding:0;}
blockquote, q{quotes:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
caption{width:100%;}
a{outline:none;}

/*clearfix*/
.cf:before,.cf:after {content:"";display:block;overflow:hidden;}
.cf:after {clear:both;}
.cf {zoom:1;}
.mb_cf{display:none;}
@media screen and (max-width: 480px) {
.cf_mb{clear:both;}
}

/*style*/
body{margin:0px;padding:0;-webkit-text-size-adjust:none;font-size:1em; line-height:2em;color:#333;font-family: Linotte, YuGothic, "Yu Gothic", 游ゴシック体, 游ゴシック, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Roboto, メイリオ, Meiryo, "ＭＳ Ｐゴシック", Osaka, "MS PGothic", Arial, Helvetica, Verdana, sans-serif;color: #555;}
h1,h2,h3,h4,h5,h6{margin:0px;line-height: 1.7em;display: block;}
p{margin:0px;}
ul,ol{padding:0;margin:0px;}
h1{font-size:4em;}
h2{font-size:3em;padding:2%;}
h3{font-size:2em;padding:1%;}
h4{font-size:14px;}
h5{font-size:12px;}
h6{font-size:11px;}
img{border:none;height:auto;max-width:100%}
a{text-decoration:underline;color:#333;}
a:hover{text-decoration:underline;}
a img{vertical-align:bottom;}
.screen-reader-text{display:none;}
.clear{clear:both;}
.clear hr{display:none;}
hr{background-color:#eee;border:0;height:1px;clear:both;margin:30px auto;}
blockquote{margin:0px 0px 20px;padding:10px 15px;background-color:#f4f4f4;border:1px solid #ddd;border-radius:5px;-moz-border-radius:5px;}
blockquote blockquote{margin:20px 0;background-color:#fff;}
blockquote blockquote blockquote{margin:20px 0;background-color:#f4f4f4;}
blockquote p{padding:0px;margin:0px 0px 0px 0px}
object,embed{width:100%;display:block;margin:auto;}

/*wrap*/
#container{width:100%;margin:0 auto;text-align:center;}
@media screen and (min-width:1140px) {#container{max-width:1140px;}}
#wrap{margin:auto;height:100%;width:100%;}
@media screen and (max-width:480px) {#wrap{padding-top:0px;}}
/*@media screen and (max-width:920px) {#main-wide{width:100%;}}*/
#main-liquid{width:100%;padding:20px 0;}

/******************************************************************************/
	
/******************************************************************************/

/*header*/
#header{height:200px;margin-top:40px;margin:auto;overflow:hidden;position:relative;}

/*ロゴ*/
#site-title{width:150px;height:70px;position:absolute;left:0px;top:0px;}
#site-description {font-family:"Open Sans", Arial, sans-serif;font-size:15px;line-height:24px;color:rgba(58, 58, 58, 0.5);margin:0px;padding:0px;position:absolute;left:5px;top:70px;}
/*ヘッダーメニュー*/
#header-menu{position:absolute;top:90px;margin-top:48px;margin-bottom:48px;border-top:solid 1px rgba(58, 58, 58, 0.1);width:100%;}
#header-menu li{float:left;}
#header-menu li a{font-family:"Open Sans",Arial,sans-serif;color:#3a3a3a;text-decoration:none;padding:10px 30px;border-top:solid 4px transparent;height:48px;font-size:16px;line-height:40px; }
#header-menu li a:hover, #header-menu .current_page_item a{border-top-color:#3a3a3a;}
#header-menu .menu-item-240201{float:right;}
#header-menu .menu-item-240201 a{padding:10px 5px 0 5px;line-height:35px;}
#header-menu #searchform{position:absolute;right:50px;}
#header-menu .s{border: 1px solid #D6D6D6;margin: 10px 0 0 10px;height: 24px;width: 120px;}
#header-menu .searchsubmit{border: 1px solid #999;background: #999;padding: 6px 10px;color: #FFFFFF;font-size: 0.9em;}
/*ログインフォーム*/
#header-loginform{position:absolute;width:300px;right:0px;top:20px;}
#header-loginform label{font-size:11px;}
#header-loginform p{text-align:right;padding:0px;}
#header-loginform input{margin:2px;padding:0px;}
#header-loginform .input{width:200px;}
#header-loginform .forgetmenot {margin:3px 0 0 80px;}
/*ユーザー名表示*/
#header-user_name{width:300px;text-align:right;}
#header-user_name p{font-size:12px;margin:20px 20px 0 0;}
#header-user_name a{height:40px;line-height:40px;margin-right:20px}


/*モバイル用*/
@media screen and (max-width: 480px){
/*モバイル用 header*/
#header{max-width:100%;height:40px;margin:0 0 3% 0;}
#header-menu{display:none;}
#site-description {display: none;}
#header-loginform {display: none;}
#site-title{height:40px;width:85px;margin:1% 0 0 3%;position:static;float:left;}
/*モバイル用 メニュー*/
#newest_letters_mb{background: #444 url("debut_dark.png") repeat;}
#newest_letters_mb ul{margin:0px;padding:0px;}
#newest_letters_mb ul li{text-decoration:none;}
#newest_letters_mb a{text-decoration:none;color:#aaa;display:block;padding:7% 5%;width:100%;font-weight:bold;font-size:15px;
    text-shadow:0-1px rgba(0,0,0,.5);border-bottom:1px solid rgba(0,0,0,.2);border-top:1px solid rgba(255,255,255,.1);
    -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
    -webkit-transition:background.3sease;-moz-transition:background.3sease;transition:background.3sease;}
/*モバイル用 ログインフォーム*/
#loginform_mb{background-color:#F1F4F6;padding:5% 0 5% 0;border-bottom:2px solid #E3E6E8;}
#loginform_mb label{font-size:11px;}
#loginform_mb p{text-align:right;}
#loginform_mb .input{margin:2px;padding:0px;width:70%;height:20px;}
#loginform_mb .forgetmenot {margin:3% 0 0 3%;width:50%;text-align:left;}
#loginform_mb .submit {margin:2% 3% 0 0;}
#loginform_mb .logout{margin:0 3% 0 0;}
}
/*モバイル用*/
#newest_letters_mb{display:none;}
.nav-toggle {display:none;}
#loginform_mb{display:none;}
.loginform-toggle {display:none;}


/******************************************************************************/
	共通
/******************************************************************************/
article {box-sizing: border-box;}
article ul {padding-left: 5%;}
article ul li{list-style-type: disc;}
.tleft{text-align:left;}
.bold{font-weight: bold;}
.hissu{color: #ff0000;}
.margin_top{margin-top: 3%;}
.margin_bot{margin-bottom: 3%;}

/*並列ブロック枠*/
.half{width: 40%;margin:0 2%;display: inline-block;vertical-align: top;}
.third{width: 30%;margin:0 1%;display: inline-block;vertical-align: top;}
/*contactform7*/
.wpcf7 form table{width: 100%;}
.wpcf7 form th{width: 25%;padding-right:5%;text-align: right;}
.wpcf7 form td{width: 70%;text-align: left;padding: 0 0 1% 3%;}
.wpcf7 form .wpcf7-form-control{box-sizing: border-box;width:100%;padding: 1%;font-size: 16px;line-height: 1.2em;border: 1px solid #ccc;border-radius: 4px;box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.wpcf7 form textarea{height:70px;}
.wpcf7 form .wpcf7-submit{opacity: 1;cursor: pointer;background-color: #117BB8;color: #fff;border: none;width:30%;padding: .8em 2em;border-radius: 1em;}


/******************************************************************************/
	lp
/******************************************************************************/
section{text-align: center;margin: auto;}
#link_contact{font-size:1em;font-family:Arial;text-align:center;text-decoration:none;opacity: 1;cursor: pointer;background-color: #117BB8;color: #fff;border: none;padding: .5em 2.5em;width: max-content;border-radius: 1em;display: block;margin: 3% auto}

#top{position: relative;}
#top div {position: absolute;top: 10%;left: 5%;}
#top #subttl {font-weight: bold;font-size: 1.5em;padding: 0 0 8% 1%;}
#top #link_contact {margin: 0;}
#why p{text-align: left;}
#why img{width: 150px;}
#examples table{width: 80%;margin: 0 auto;}
#profil table{width: 70%;margin: 0 auto;font-size: 0.9em;}
#profil table td{padding: 1%;}
#profil table .column-2{padding-left: 5%;}
#contact form{width: 70%;margin: 0 auto;}

/*モバイル用*/
@media screen and (max-width: 480px){
#top div h1{font-size: 1.5em;}
#top div #subttl{font-size: 1.2em;}
#examples table{width: 96%;}
#profil table{width: 96%;}
#contact form{width: 96%;margin: 0 auto;}
}

